/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('American\ accent.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/* Form Container Styles */
.form-container {
    background-color: rgba(241, 234, 234, 0.9); 
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    margin: 20px;
}

/* Form Header Styles */
h2 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    color: #333;
    font-weight: 300;
}

/* Label Styles */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: color 0.3s;
}

label:hover {
    color: #4CAF50; /* Changes color on hover */
}
/* Input Field Styles */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

/* Button Styles */
button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: firebrick;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.02);
}

button:active {
    background-color: #388E3C;
}

/* Error Message Styles */
#error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
